@import url('fixed-variables.css');
@import url('icons.css');
@import url('utils.css');
@import url('toggle-slider.css');

* {
  transition: background-color var(--transition-speed);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.section {
  padding-bottom: 1rem;
}

.section .section-header {
  border-bottom: 1px solid black;
}

.section .section-content {
  margin: 1rem 0;
}

.section .section-content ul.item-list {
  padding: 0;
  list-style-type: none;
}

.section .section-content ul.item-list > li.item:not(:first-child) {
    margin-top: 1rem;
}

#resume {
  height: 100%;
}

#resume > .grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(10rem,20rem) 1fr;
}

#resume > .grid-container > .left-column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bg-secondary);
}

#resume > .grid-container > .right-column {
  padding: 1rem;
  overflow: auto;
}

#photo-contact img {
  max-width: 100%;
  border-radius: 100%;
  box-shadow: 0 0 1rem var(--shadow-photo-contact-img);
}

#photo-contact ul.contact-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

#photo-contact ul.contact-list li a {
  transition: color var(--transition-speed);
  color: var(--icon-color);
}

#photo-contact ul.contact-list li a:hover {
  color: var(--text-primary);
}

#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

#experience ul.position-list {
  padding: 0;
  list-style-type: none;
}

#experience ul.position-list  li.position .position-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1rem;
}
