.toggle-slider {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  font: normal normal normal 1em/1 'Icons';
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  position: relative;  padding: 1px;
  border: 1px solid var(--text-primary);
  box-shadow: 0 0 0.2rem var(--text-primary);
  margin: 0;
  background-color: var(--bg-primary);
}

.toggle-slider:before {
  content: "\ea09";
  color: var(--text-primary);
  background-color: var(--bg-primary);
  width: 1.3rem;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  border-radius: 100%;
  border: 1px solid var(--text-primary);
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transition: transform var(--transition-speed), color var(--transition-speed);
  -webkit-transition: transform var(--transition-speed), color var(--transition-speed);
}

.toggle-slider:checked:before {
  content: '\ea07';
  transform: translate(1.3rem, -50%);
  -webkit-transform: translate(1.3rem, -50%);;
}