.toggle-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 3rem;
  aspect-ratio: 2 / 1;
  position: relative;
  margin: 0;
  cursor: pointer;
  border-radius: 100vh;
  border: 1px solid var(--text-primary);
  background-color: var(--bg-primary);
  box-shadow: 0 0 0.2rem var(--text-primary);
}

.toggle-slider:before {
  content: "\ea09";
  font-family: 'Icons';
  font-size: initial;
  color: var(--bg-primary);
  background-color: var(--text-primary);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: -1px;
  border: 1px solid var(--text-primary);
  position: absolute;
}

.toggle-slider:checked:before {
  content: '\ea07';
  left: unset;
  right: 0;
}