.section {
	padding-bottom: 1rem;

  .section-content {
    margin: 1rem 0;

    ul.item-list {
      padding: 0;
      list-style-type: none;

      li.item {
        &:not(:first-child) {
          margin-top: 1rem;
        }

        .item-title {
          font-weight: bold;
        }
      }
    }
  }
}

.section-header {
	border-bottom: 1px solid black;
}
